:root {
    --main: #5372F0;
    --secondary: #00B4CC;
    --white: #fff;
    --open-sans: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

#content{
  display:contents;
}

nav {
    background-color: #5372F0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

button {
  background-color: var(--main);
  color: var(--white);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.home-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.user-zone-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-zone {
    display: flex;
    align-items: center;
}

.user-zone img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.user-zone h2 {
    margin: 0;
    font-size: 16px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}
#labletextobuscar{
  visibility: hidden;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  padding: 200px;
  background-color: #5372F0;
  color: #fff; 
  text-align: center;
}

footer p {
  font-size: 14px;
}

