#segment4 {
    text-align: center;
    padding: 20px;
    padding-bottom: 300px;
}

#segment4 > h2 {
    color: var(--actual);
}

audio {
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    color: var(--backgroundActual);
}


@media (prefers-reduced-motion) {
    #segment3 {
        animation: none;
    }

    #cartapequeña:hover {
        transform: none;
    }
}